@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;0,400;0,700;1,400;1,700&display=swap");
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after, q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

.hd-wrapper, .main-wrapper {
  padding: 0;
}

.top-promo {
  background-color: #D82830;
  padding: 1em;
  text-align: center;
  font-style: italic;
  color: yellow;
  font-weight: bold;
  font-size: 1.15em;
}

.logo-avail {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  padding-top: 1em;
}

.site-logo {
  min-width: 350px;
  max-width: 500px;
}
.site-logo img {
  width: 100%;
}

.availability, .hours {
  padding-top: 2em;
}

.hours {
  padding-right: 3em;
}

.navbar {
  padding-left: 4.5em;
  background-color: #D82830 !important;
}
.navbar a {
  font-weight: bold;
  color: white !important;
}

.bg-image {
  background-image: url("/images/hero-bg.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  height: 500px;
}

.services {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
  margin-top: 3em;
}
.services .card {
  border-radius: 10px;
}
.services .card-title {
  font-weight: bold;
  font-size: 1.5em;
  color: #D82830;
}
.services .card-text {
  padding-bottom: 1.5em;
  padding-top: 1em;
  line-height: 1.5;
}
.services .btn {
  background-color: #D82830;
  font-weight: bold;
}

.mid-background {
  height: 50px;
  background-color: #D82830;
  margin-top: 2em;
}

.aboutus {
  margin-top: 2em;
  font-size: 2em;
  font-weight: bold;
  text-align: center;
}