@import "defaults", "mixins";
@import "../node_modules/bootstrap/scss/bootstrap.scss";

// Header content
.hd-wrapper,
.main-wrapper {
  padding: 0;
}

.top-promo {
  background-color: rgb(139, 82, 94);
  padding: 1em;
  text-align: center;
  font-style: italic;
  color: yellow;
  font-weight: bold;
  font-size: 1.15em;
}

// Hours and availability
.logo-avail {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  padding-top: 1em;
}

.site-logo {
  min-width: 350px;
  max-width: 500px;

  img {
    width: 100%;
  }
}

.availability,
.hours {
  padding-top: 2em;
}

.hours {
  padding-right: 3em;
}

// Navigation
.navbar {
  padding-left: 4.5em;
  background-color: transparent !important;

  a {
    font-weight: bold;
    color: white !important;
  }
}

// Main content

.bg-image {
  background-image: url("/images/hero-bg.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  height: 500px;
}

.services {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
  margin-top: 3em;

  .card {
    border-radius: 10px;
  }

  .card-title {
    font-weight: bold;
    font-size: 1.5em;
    color: rgb(139, 82, 94);
  }

  .card-text {
    padding-bottom: 1.5em;
    padding-top: 1em;
    line-height: 1.5;
  }

  .btn {
    background-color: rgb(139, 82, 94);
    font-weight: bold;
  }
}

.services-title {
  margin-top: 2em;
  text-align: center;
  font-size: 2em;
  font-weight: bold;
  color: rgb(139, 82, 94);
}

.mid-background {
  height: 50px;
  background-color: rgb(139, 82, 94);
  margin-top: 2em;
}

// About Us section
.about-section {
  padding: 0;
  width: 75%;
}

.aboutus {
  margin-top: 2em;
  margin-bottom: 2em;
  font-size: 2em;
  font-weight: bold;
  text-align: center;
  color: rgb(139, 82, 94);
}

// Accordion
.accordion {
  margin-left: 0;
  margin-right: 0;
}

.accordion-button {
  background-color: rgb(139, 82, 94);
  color: white;
  font-weight: bold;
}

.contact-section {
  border: 2px solid gray;
  padding: 1em;
  margin-top: 2em;
  margin-bottom: 2em;
}

// Form
.contact-form {
  border-radius: 4px;
  background: #ffffff;
  box-shadow: 20px 20px 60px #d9d9d9, -20px -20px 60px #ffffff;
  width: 75%;
  height: 500px;
  padding: 2em;
  margin-right: auto;
  margin-left: auto;
  margin-bottom: 4em;

  input,
  select,
  textarea {
    margin-bottom: 1.5em;
  }

  input:active,
  select:active,
  textarea:active {
    border-color: rgb(139, 82, 94) !important;
  }
}

.contact-title {
  @extend .aboutus;
}

// Footer content
.foot-wrapper {
  @extend .mid-background;
  margin-top: 2em;
}
