@import "defaults", "mixins";
@import "../node_modules/bootstrap/scss/bootstrap.scss";

// Header content
.hd-wrapper, .main-wrapper
{
    padding:  0;
}

.top-promo
{
    background-color:  #D82830;
    padding:  1em;
    text-align: center;
    font-style: italic;
    color:  yellow;
    font-weight:  bold;
    font-size:  1.15em;
}

// Hours and availability
.logo-avail
{
    display:  flex;
    flex-flow:  row wrap;
    justify-content:  space-between;
    padding-top:  1em;
}

.site-logo
{
    min-width:  350px;
    max-width:  500px;

    img
    {
        width:  100%;
    }
}

.availability, .hours
{
    padding-top:  2em;
}

.hours
{
    padding-right:  3em;
}

// Navigation
.navbar
{
    padding-left:  4.5em;
    background-color:  #D82830 !important;

    a
    {
        font-weight:  bold;
        color:  white !important;
    }
}

// Main content

.bg-image
{
    background-image: url("/images/hero-bg.jpg");
    background-repeat:  no-repeat;
    background-size: cover;
    height:  500px;    
}

.services
{
    display:  flex;
    flex-flow:  row wrap;
    justify-content:  space-around;
    margin-top:  3em;

    .card
    {
        border-radius:  10px;
    }

    .card-title
    {
        font-weight:  bold;
        font-size:  1.50em;
        color:  #D82830;
    }

    .card-text
    {
        padding-bottom:  1.50em;
        padding-top:  1em;
        line-height:  1.50;

    }

    .btn
    {
        background-color:  #D82830;
        font-weight:  bold;
    }
}

.services-title
{
    margin-top:  2em;
    text-align: center;
    font-size:  2em;
    font-weight:  bold;
    color: #D82830;
}

.mid-background
{
    height:  50px;
    background-color:  #D82830;
    margin-top:  2em;
}

// About Us section
.about-section
{
    padding:  0;
    width:  75%;
}

.aboutus
{
    margin-top:  2em;
    margin-bottom: 2em;
    font-size: 2em;
    font-weight:  bold;
    text-align: center;
    color: #D82830;
}


// Accordion
.accordion
{
    margin-left:  0;
    margin-right:  0;
}

.accordion-button
{
    background-color: #D82830;
    color:  white;
    font-weight:  bold;   
}

.contact-section
{
    border:  2px solid gray;
    padding:  1em;
    margin-top:  2em;
    margin-bottom:  2em;
}

// Form
.contact-form
{
    border-radius: 50px;
    background: #ffffff;
    box-shadow:  20px 20px 60px #d9d9d9,
                -20px -20px 60px #ffffff;
    width:  75%;
    height:  500px;
    padding:  2em;
    margin-right:  auto;
    margin-left:  auto;
    margin-bottom:  4em;

    input, select, textarea
    {
        margin-bottom:  1.50em;
    }

    input:active, select:active, textarea:active
    {
        border-color:  #D82830 !important;
    }
}

.contact-title
{
    @extend .aboutus;
}

// Footer content
.foot-wrapper
{
    @extend .mid-background;
    margin-top:  2em;

}
